
.venv

clusters
dataset
embeddings
flagged
model_dataset
processed_images
raw_images
clustering.py
data_model.py
dataset_splitter.py
get_embeddings.py
image_utils.py
inference.py
preprocess.ipynb
train.py
visualization.py
smartcopy.py
__pycache__